amqp==2.3.2
argh==0.26.2
billiard==3.5.0.4
biopython==1.72
celery==4.2.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
coverage==4.5.1
delegator.py==0.1.0
envoy==0.0.3
ete3==3.1.1
eventlet==0.23.0
Flask==1.0.2
Flask-SocketIO==3.0.1
Flask-WTF==0.14.2
greenlet==0.4.13
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
netifaces==0.10.6
numpy==1.14.5
pathtools==0.1.2
pexpect==4.6.0
ptyprocess==0.6.0
PyJWT==1.6.4
PySocks==1.6.8
python-engineio==2.2.0
python-socketio==2.0.0
pytz==2018.5
PyYAML==3.13
redis==2.10.6
requests==2.20.0
rpy2==2.9.4
six==1.11.0
twilio==6.15.1
urllib3==1.23
vine==1.1.4
watchdog==0.8.3
Werkzeug==0.14.1
WTForms==2.2.1
