@import "/react-vis/dist/style";

.AnalysisPage {
  text-align: center;
}

.SankeyPlotArea {
  background: url(http://visualizingrights.org/kit/img/sankey.png) no-repeat;
  background-color: #F5F5F5;
  background-size: 100% 100%;
  min-height: 5vh;
}

.MicasTimeline {
  background: url(./mica-logo-2.png) no-repeat;
  background-size: 20% 50%;
  min-height: 10vh;
  background-position: center;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
