@import "/react-vis/dist/style";

.AnalysisPage {
  text-align: center;
}

.SankeyPlotArea {
  background: url(http://visualizingrights.org/kit/img/sankey.png) no-repeat;
  background-color: #F5F5F5;
  background-size: 100% 100%;
  min-height: 5vh;
}

.MicasTimeline {
  background: url(./mica-logo-2.png) no-repeat;
  background-size: 20% 50%;
  min-height: 10vh;
  background-position: center;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

path {
  stroke: #000;
}

.node rect {
  fill: #888888;
  shape-rendering: crispEdges;
}

.node {
  fill-opacity: .7;
}

.node:hover {
  cursor: pointer;
  fill-opacity: 1;
}

.node text {
  fill: #000;
  stroke: none;
  font-size: .8em;
}

.link {
  stroke: #cccccc;
  stroke-opacity: .4;
  fill: none;
}

.link:hover {
  stroke-opacity: .6;
  cursor: pointer;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.container {
  max-width: 720px;
  margin-top: 35px;
}

.header h3 {
  margin-top: 8px;
}

select.btn {
  -webkit-appearance: none;
  max-width: 115px;
}

.col-xs-4, .col-xs-8 {
  z-index: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-right: 10px;

}

.footer {
  clear: both;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-primary {
  background-color: #5badf0;
  border-color: #4CA1E7;
}

.btn-primary:hover {
  background-color: #2389DC;
  border-color: #2389DC;
}
a {
    color: #000;
}

a:hover {
  color: #333;
}

#app {
  margin-bottom: 35px;
}

.clearFix {
  clear: both;
}

.startNew {
  margin-left: 10px;
}

.toolBar {
  margin-top: 30px;
  margin-bottom: 30px;
}
.chart {
  margin-bottom: 20px;
}

.legend {
  background-color: #fcf8e3;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: #000;
}

.italicText {
  font-style: italic;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 700px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
