@import url('https://fonts.googleapis.com/css?family=ABeeZee');

.heading-text {
  font-family: 'ABeeZee', sans-serif;
  font-size: 24px;
  color: #000;
}

.HeaderView{
  padding: 20px;
  background-color: #CCC;
  background: url('../images/mica-logo-2.png') no-repeat;
  background-size: contain;
  background-position: center;
}
